<h2>CargaJson</h2>
<label>Carga de modo automatico</label>
@using (Html.BeginForm("Index", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <input type="file" name="Archivo" />
        <input type="submit" value="Importar" />


        @Html.ActionLink("Ir a Home", "Index", "Home")
    </div>


}
